.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 60px 15px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__number.number {
  font-size: 31px;
  margin-bottom: 5px;
  text-wrap: nowrap;
}

.footer__social-link.social-link {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.footer__social-link.social-link:hover .footer__social-link-text {
  color: var(--color-1400);
}

.footer__social-link.social-link:hover svg {
  fill: var(--color-1400);
}

.footer__social-link.social-link svg {
  width: 24px;
  height: 24px;
}

.footer__social-link-text {
  font-size: 10px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--color-0000);
}

.footer__address {
  font-size: 27px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--color-0000);
  text-align: center;
  text-wrap: nowrap;
}

.footer__address_desk {
  display: none;
}

.footer__address_last {
  margin-bottom: 20px;
}

.footer__operating-mode {
  font-size: 10px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--color-0000);
}

.footer__time {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--color-0000);
}

@media (min-width: 1024px) {
  .footer__number.number {
    font-size: 70px;
  }
}

@media (min-width: 1440px) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px 50px;
  }

  .footer__info {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header__socials-wrap {
    gap: 15px;
    margin-left: -15px;
  }

  .footer__social-link.social-link svg {
    width: 50px;
    height: 50px;
  }

  .footer__social-link-text {
    font-size: 15px;
    font-weight: 600;
  }

  .footer__address,
  .footer__address_desk {
    display: flex;
    font-size: 40px;
    font-weight: 600;
  }

  .footer__address_mob {
    display: none;
  }

  .footer__operating-mode {
    font-size: 18px;
  }

  .footer__time {
    font-size: 24px;
  }
}
