@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "./variables.css";
@import "./styles/sectionHeader.css";
@import "./styles/header.css";
@import "./styles/hero.css";
@import "./styles/slider.css";
@import "./styles/categories.css";

@import "./styles/footer.css";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

body {
  font-family: var(--font-main);
  background: var(--color-1000);
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.number {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--color-0000);
}

.number:hover {
  color: var(--color-1400);
}
@media (min-width: 1440px) {
  .header__number {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 600;
  }
}

.socials-wrap {
  display: flex;
  gap: 20px;
}

.social-link {
  width: 30px;
  height: 30px;
}

.social-link svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-link svg {
  fill: var(--color-0000);
}

.social-link svg:hover {
  fill: var(--color-1400);
}
