:root {
  --font-main: "Montserrat", sans-serif;

  --color-50: #fef4fe;
  --color-100: #fce7fc;
  --color-200: #f9cffa;
  --color-300: #f7bbf7;
  --color-400: #f4a0f5;
  --color-500: #f188f2;
  --color-600: #b566b6;
  --color-700: #794479;
  --color-800: #3c223d;
  --color-900: #180e18;
  --color-1000: #ffffff;
  --color-1100: #a1e2eb;
  --color-1200: #feddff;
  --color-1300: #eeeeee;
  --color-0000: #000000;
  --color-1400: #fc42ff;
  --coolr-1500: #7e7e7e;
  --color-1600: #0b0b0b80;
  --color-1700: #fff3ff;
  --color-1800: #c949ca;
  --color-1900: #323232; 
  --color-2000: #A9A9A9;
  --color-2100: #2D2D2D;
  --bg-hero: #A1E2EB;

}

